{% extends "base.html" %}

{% block content %}
 <div class="container has-text-centered">
	<h1 class="title is-1 is-centered">
	    Welcome, {{name}}!
	</h1>
	<h2 class="subtitle is-2">
	    College Picker is made to help you do just that: pick a college. We know how difficult it can be to navigate the thousands of post-secondary institutions that are out there, so we made this task easier using software. Simply answer some questions about your preferences and criteria, and the algorithm will output a list of colleges that suit you best!
	</h2>
	<br>
	<a href={{url_for('main.getStarted')}} class="button is-large is-link is-centered">Get Started</a>
</div>
{% endblock %}